.main-container {

  background-image:
    radial-gradient(
      rgb(208, 255, 0),
      #067ff0
    );

}

.logo {
  width: auto;
  height: 200px;
  margin: 3% 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
font-family: fantasy;
text-align: center;
text-shadow: 0 0 3px #6b1818, 0 0 5px #0000FF;
display: block;
height: 50vh;
text-align: center;
height: 50vh;
}

pre {
display: inline;
vertical-align: middle;
line-height: 50vh;
color: white;
font-size: 50px;
font-family: 'Roboto', sans-serif;
}

h1 {
text-align: center
}

.bot_container{
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
flex-wrap: wrap;
justify-content: space-around;
}


.title-1 {
justify-items: center;
border-top: 2rem solid #0cc90cf3;
width: 200px;
height:250px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.275);
}
.title-2 {
justify-content: center;
border-top: 2rem solid #0cc90cf3;
width: 200px;
height:250px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.275);
}
.title-3 {
justify-content: center;
border-top: 2rem solid #0cc90cf3;
width: 200px;
height:250px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.275);
}


@media (max-width: 576px) {
.main-container {
  background-image:
    radial-gradient(
      rgb(208, 255, 0),
      #067ff0
    );
}
}

@media (max-width: 576px) {
.bot_container {
 flex-direction: column;
 height: fit-content;
}