* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-image: linear-gradient(0deg, rgb(42, 245, 152) 0%, rgb(42, 245, 152) 100%); opacity: 0;

  
}

h1 {
  background-color: #08AEEA;
  background-image: -webkit-linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-image: -moz-linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);  
 
}

.top {
  background-color: #08AEEA;
  background-image: -webkit-linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-image: -moz-linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);  
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.Bottom {
  background-color: #08AEEA;
  background-image: -webkit-linear-gradient(180deg, #08AEEA 0%, #2AF598 100%);
  background-image: -moz-linear-gradient(180deg, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(180deg, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(180deg, #08AEEA 0%, #2AF598 100%);
  
  
  
}

.welcome {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(42, 245, 152) 0%, rgb(42, 245, 152) 100%); opacity: 0;
} 

.topbox1 {
  width: 350px;
  height: inherit;
  border-style: solid;
}

.topbox2 {
  width: 350px;
  height: inherit;
  border-style: solid;
}


.topbox3 {
  width: 350px;
  height: inherit;
  border-style: solid;
}

.bottombox1 {
  width: 400px;
  height: 200px;
  border-style:solid;
  text-align: center;
  
}

.bottombox2 {
  width: 700px;
  height: auto;
  border-style: solid;
  text-align: center;

}

.bottom_middle {
  width: 400px;
  height: 200px;
  border-style:solid;
  text-align: center;
}

@media (min-width: 1980px) {
  body {
    grid-template-columns: 3fr;
    grid-template-areas:
      "h1  h1  h1"
      "topbox1 topxbox2  topbox3"
      "bottombox1  bottombox1  bottombox1"
      "bottom2 bottom2  bottom2 bottom2  bottom2";
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}


@media (max-width: 699px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "nav"
      "aside"
      "main"
      "footer"
      "banner";
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}
